\documentclass[paper=a4, 10pt]{article}
\usepackage{lmodern}
\usepackage{amsmath}
\usepackage[T1]{fontenc}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}
\fontfamily{phv}\selectfont
\usepackage[english,ngerman]{babel}
\usepackage[pdftex]{graphicx}
\usepackage[top=0.7in, bottom=0.4in, left=0.65in, right=0.85in, includeheadfoot, headheight=20pt]{geometry}
\usepackage{fancyhdr}
\usepackage{lastpage}
\usepackage{colortbl}
\usepackage{tabularx}
\usepackage{listings}
\usepackage{hyperref}
\usepackage{titlesec}
\usepackage{color}
\usepackage{setspace}
\usepackage[utf8]{inputenc}

\setcounter{secnumdepth}{4}
\setcounter{tocdepth}{4}


\definecolor{mygreen}{rgb}{0,0.6,0}
\definecolor{myblue}{RGB}{0,0,250}
%\definecolor{mygray}{rgb}{0.5,0.5,0.5}
\definecolor{mygray}{rgb}{0.4,0.4,0.4}
\definecolor{mylightgray}{rgb}{0.5,0.5,0.5}
\definecolor{mymauve}{rgb}{0.58,0,0.82}
\definecolor{myred}{RGB}{127,0,21}

\titleformat*{\section}{\normalfont\Large\bfseries\color{mygray}}
\onehalfspacing


\lstset{ %
	backgroundcolor=\color{white},   % choose the background color; you must add \usepackage{color} or \usepackage{xcolor}
	basicstyle=\footnotesize,        % the size of the fonts that are used for the code
	breakatwhitespace=false,         % sets if automatic breaks should only happen at whitespace
	breaklines=true,                 % sets automatic line breaking
	captionpos=b,                    % sets the caption-position to bottom
	commentstyle=\color{mygreen},    % comment style
	deletekeywords={...},            % if you want to delete keywords from the given language
	escapeinside={\%*}{*)},          % if you want to add LaTeX within your code
	extendedchars=true,              % lets you use non-ASCII characters; for 8-bits encodings only, does not work with UTF-8
	frame=single,                    % adds a frame around the code
	keepspaces=true,                 % keeps spaces in text, useful for keeping indentation of code (possibly needs columns=flexible)
	keywordstyle=\color{},       % keyword style
	language=html,                 % the language of the code
	morekeywords={*,...},            % if you want to add more keywords to the set
	numbers=none,                    % where to put the line-numbers; possible values are (none, left, right)
	numbersep=5pt,                   % how far the line-numbers are from the code
	numberstyle=\tiny\color{mygray}, % the style that is used for the line-numbers
	rulecolor=\color{black},         % if not set, the frame-color may be changed on line-breaks within not-black text (e.g. comments (green here))
	showspaces=false,                % show spaces everywhere adding particular underscores; it overrides 'showstringspaces'
	showstringspaces=false,          % underline spaces within strings only
	showtabs=false,                  % show tabs within strings adding particular underscores
	stringstyle=\color{blue},     % string literal style
	tabsize=2,                       % sets default tabsize to 2 spaces
	title=\lstname                   % show the filename of files included with \lstinputlisting; also try caption instead of title
}
\hypersetup{
	colorlinks=true,
	linkcolor=black,
	pdfborder=000,
	urlcolor=blue
}

\pagestyle{fancy}
\fancyhf{}
\fancyhead[L]{Lebenslauf}
\fancyhead[R]{$data.personalData.firstname.textValue $data.personalData.lastname.textValue, $data.personalData.street.textValue, $data.personalData.postalcode.textValue $data.personalData.city.textValue}
\fancyfoot[R]{Seite \thepage}

\begin{document}
	%\makebox[\textwidth][c]{\Large \color{mylightgray}\textbf{Lebenslauf}}\\
	\vspace{3cm}
	\parbox[t]{\textwidth}{\makebox[\textwidth][c]{\Huge $data.personalData.firstname.textValue $data.personalData.lastname.textValue}}\\
	\vspace{1cm}
	\normalsize
	
	\section*{Persönliche Daten}
	%\rule[20mm]{\textwidth}{.2pt}
	\makebox[30mm][l]{ }
	\parbox[t]{100mm}{
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{Anschrift:}}}            \makebox[50mm][l]{$data.personalData.street.textValue}\\
		\makebox[40mm][l]{}  											           \makebox[50mm][l]{$data.personalData.postalcode.textValue $data.personalData.city.textValue}\\
		\\
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{Telefon:}}}              \makebox[50mm][l]{$data.personalData.phone.textValue}\\
		\\
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{e-Mail:}}}               \makebox[50mm][l]{$data.personalData.email.textValue}\\
		\\
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{Familienstand:}}}        \makebox[50mm][l]{$data.personalData.familystatus.textValue}\\
		\\
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{Staatsangehörigkeit:}}}  \makebox[50mm][l]{$data.personalData.nationality.textValue}\\
		\\
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{Geburtsdatum:}}}         \makebox[50mm][l]{$data.personalData.dateofbirth.textValue}\\
		\\
		\makebox[40mm][l]{\textcolor{mylightgray}{\textbf{Geburtsort:}}}           \makebox[50mm][l]{$data.personalData.cityofbirth.textValue}\\
		\\
	}
	\\
	

	\section*{Ausbildung}
	
	#foreach( $elem in $data.education )
	\makebox[30mm][l]{\textcolor{mylightgray}{\textbf{$elem.time.textValue}}} \makebox[25mm][l]{ }              \makebox[80mm][l]{$elem.school.textValue}                               \makebox[25mm][l]{$elem.city.textValue}\\
	#if(!$elem.title.textValue.isEmpty())
	\makebox[30mm][l]{ }           \makebox[25mm][l]{Abschluss:}     \textit{$elem.title.textValue}\\
	#end
	\\
	#end
	
\end{document}